---
import Layout from '@/layouts/Layout.astro';
import ModePicker from '@components/ModePicker';
---

<Layout title="Radio Exam Helper - Amateur Radio Study App">
  <main>
    <ModePicker client:load />
  </main>
</Layout>
