---
import Layout from '@/layouts/Layout.astro';
import PhoneticTrainer from '@components/PhoneticTrainer';
---

<Layout title="Phonetic Alphabets - Radio Exam Helper">
  <main>
    <PhoneticTrainer client:load />
  </main>
</Layout>
