---
import Layout from '@/layouts/Layout.astro';
import QCodeTrainer from '@components/QCodeTrainer';
---

<Layout title="Q-Codes Flashcards - Radio Exam Helper">
  <main>
    <QCodeTrainer client:load />
  </main>
</Layout>
